@font-face {
    font-family: 'intro_bookregular';
    src: url('../fonts/intro-book-webfont.eot');
    src: url('intro-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-book-webfont.woff2') format('woff2'),
         url('../fonts/intro-book-webfont.woff') format('woff'),
         url('../fonts/intro-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intro_lightregular';
    src: url('../fonts/intro-light-webfont.eot');
    src: url('intro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-light-webfont.woff2') format('woff2'),
         url('../fonts/intro-light-webfont.woff') format('woff'),
         url('../fonts/intro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intro_regularregular';
    src: url('../fonts/intro-regular-webfont.eot');
    src: url('intro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-regular-webfont.woff2') format('woff2'),
         url('../fonts/intro-regular-webfont.woff') format('woff'),
         url('../fonts/intro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	 border-collapse: collapse;
	border-spacing: 0;
}
/* Common site styles */
body {
	color:#555;
	font:14px/24px 'Conv_Intro-Regular', Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	min-width:1200px;
	text-shadow:0 0;
}
input [type="email"], input [type="tel"], input[type="search"], input[type="text"], input[type="password"], input[type="file"], input[type="submit"], textarea{-webkit-appearance:none;}
a{
	color:#1f1b20;
	text-decoration: underline;
	outline:none;
}
a:hover{text-decoration:none;}
a:focus, 
input:focus, 
textarea:focus{outline:none !important;}
*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.container {
	width: 1200px;
	max-width: none !important;
}
h1{
	font-size:36px;
	line-height:38px;
	color:#111;
}
h2{
	font-size:24px;
	line-height:26px;
	color:#111;
}
h3{
	font-size:18px;
	line-height:20px;
	color:#111;
}
h4{
	font-size:16px;
	line-height:18px;
	color:#111;
}
h5{
	font-size:14px;
	line-height:16px;
	color:#111;
}
h6{
	font-size:12px;
	line-height:14px;
	color:#111;
}

#wrapper{
	width:100%;
	overflow:hidden;
}
#header{
	position:fixed;
	width:100%;
	overflow:hidden;
	left:0;
	top:0;
	right:0;
	z-index:9999;
	height:215px;
}
.panel{
	margin:0 0 19px;
	background:#191919;
	height:48px;
	overflow:hidden;
}
.panel-holder{
	margin:0 auto;
	width:1170px;
	overflow:hidden;
}
.lang{
	float:left;
	margin:0 20px 0 -15px;
	padding:18px 22px 0 20px;
	border:solid #000;
	border-width:0 1px;
	height:48px;
	width:71px;
	overflow:hidden;
}
.nav-bar:after{
	display:block;
	clear:both;
	content:"";
}
.nav-bar li{
	float:left;
	margin:0 19px 0 0;
	padding:0 0 0 19px;
	font-size:12px;
	line-height:48px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	border-left:1px solid #000;
}
.nav-bar li:first-child{
	border:none;
	padding:0;
}
.nav-bar li.last-child{margin:0;}

.nav-bar a{
	padding:0 0 2px;
	text-decoration:none;
	color:#fff;
}
.nav-bar a:hover{border-bottom:2px solid rgba(255, 255, 255, 0.7);}
.social{
	float:left;
	padding:0 0 0 11px;
}
.social:after{
	display:block;
	clear:both;
	content:"";
}
.social li{
	float:left;
	margin:0 11px 0 0;
	display:table;
	height:48px;
	width:16px;
	overflow:hidden;
}
.social li div{
	display:table-cell;
	margin:0;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.social li img{
	display:block;
	margin:0 auto;
}
.social li:hover img{opacity:0.8;}
.phone{
	float:left;
	margin:0 0 0 29px;
	font-size:14px;
	line-height:50px;
	font-family: 'intro_bookregular';
	color:#fff;
	letter-spacing:-0.1px;
}
.like{
	float:left;
	margin:0 0 0 -35px;
	padding:0 10px 0 20px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	position:relative;
	height:48px;
	width:58px;
	text-decoration:none;
}
.like:after{
	position:absolute;
	top:17px;
	left:20px;
	content:"";
	background:url(../images/sprite.png) no-repeat -5px 0;
	height:14px;
	width:16px;
}
.like span{
	float:left;
	margin:7px 0 0 8px;
	padding:0 6px;
	background:#ef4a46;
	font-size:12px;
	line-height:18px;
	font-family: 'intro_bookregular';
	color:#fff;
	border-radius:9px;
	min-width:18px;
	position:relative;
	z-index:4;
}
.basket{
	float:left;
	padding:0 19px 0 27px;
	background:#ef4a46;
	height:48px;
	width:132px;
	border-right:1px solid #000;
	position:relative;
	overflow:hidden;
}
.basket a{text-decoration:none;}
.basket:after{
	position:absolute;
	top:16px;
	left:20px;
	content:"";
	background:url(../images/sprite.png) no-repeat -21px 0;
	height:16px;
	width:16px;
}
.basket strong{
	float:left;
	margin:7px 0 0;
	padding:0 6px;
	background:#191919;
	font-size:12px;
	line-height:18px;
	min-width:18px;
	border-radius:9px;
	color:#fff;
	position:relative;
	z-index:4;
}
.basket span{
	float:right;
	text-align:right;
	font-size:12px;
	line-height:48px;
	text-transform:uppercase;
	font-family: 'intro_bookregular';
	color:#fff;
}
.area{
	margin:0 auto;
	width:1200px;
}
.area:after{
	display:block;
	clear:both;
	content:"";
}
.nav-list{margin:56px 0 0;}
.nav-list li{
	float:left;
	margin:0 38px 0 45px;
	padding:0 0 22px;
	font-size:14px;
	line-height:16px;
	text-transform:uppercase;
	letter-spacing:0.7px;
	position:relative;
}
.nav-list li:first-child{margin:0 38px 0 0;}
.nav-list li:first-child:after{display:none;}
.nav-list li:after{
	position:absolute;
	top:4px;
	left:-46px;
	content:"";
	background:#fff;
	border-radius:6px;
	height:6px;
	width:6px;
	border:1px solid #eaeaea;
}
.nav-list a{
	color:#1f1b20;
	text-decoration:none;
}
.nav-list li.active, 
.nav-list li:hover{background:url(../images/bg-nav-li-active.png) repeat-x 0 100%;}
.nav-list li.active a, 
.nav-list li:hover a{color:#ef4a46;}
.sub-nav-list{
	float:right;
	margin:56px -1px 0 0;
}
.nav-list li:first-child{margin:0 38px 0 0;}
.nav-list li:last-child{margin:0 0 0 46px;}
.logo{
	display:block;
	margin:0 auto;
	height:128px;
	width:128px;
}
.logo img{
	display:block;
	margin:0 auto;
	-webkit-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
#main{
	margin:0 auto 44px;
	padding:215px 0 0;
	max-width:1440px;
}
#main:after{
	display:block;
	clear:both;
	content:"";
}
.promo{
	margin:0 0 95px;
	width:100%;
	overflow:hidden;
}
.slideshow{
	position: relative;
	float:left;
	width:50%;
}
.slideshow .slide{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width:100%;
}
.slideshow .slide.active {z-index: 2;}
.slideshow.not-enough-slides a.btn-prev,
.slideshow.not-enough-slides a.btn-next {visibility: hidden;}
.slideshow .slide img{
	display:block;
	width:100%;
}
.slidebox{
	position:relative;
	height:100%;
	width:100%;
}
.slidebox div{
	position:absolute;
	bottom:100px;
	left:135px;
	z-index:4;
}
.slidebox strong{
	display:block;
	margin:0 0 23px -3px;
	font-size:72px;
	line-height:60px;
	font-family: 'intro_lightregular';
	text-transform:uppercase;
	color:#fff;
}
.slidebox a{
	display:inline-block;
	padding:0 32px 0 31px;
	background:rgba(239, 74, 70, 1);
	font-size:14px;
	line-height:46px;
	height:44px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.slidebox a:hover{background:rgba(239, 74, 70, 0.9);}
.slideshow .btn-prev, 
.slideshow .btn-next{
	position:absolute;
	top:100px;
	left:135px;
	z-index:5;
	background:url(../images/sprite.png) no-repeat -55px 0;
	height:16px;
	width:9px;
	text-indent:-9999px;
	overflow:hidden;
}
.slideshow .btn-next{
	left:159px;
	background:url(../images/sprite.png) no-repeat -64px 0;
}
.slideshow .btn-prev:hover, 
.slideshow .btn-next:hover{opacity:0.8;}
.video{
	float:left;
	width:50%;
	position:relative;
	height:100%;
}
.video img{
	display:block;
	width:100%;
}
.sub-video{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:100%;
	min-height:100%;
	width:100%;
	z-index:4;
}
.video-holder{
	display:table;
	height:100%;
	width:100%;
	text-align:center;
}
.video-area{
	display:table-cell;
	height:100%;
	width:100%;
	vertical-align:middle;
	text-align:center;
}
.video-holder span{
	display:inline-block;
	font-size:18px;
	line-height:100px;
	height:100px;
	font-family: 'intro_bookregular';
	color:#fff;
}
.play{
	float:left;
	margin:0 29px 0 0;
	height:100px;
	width:100px;
	border-radius:50px;
	background:rgba(255, 255, 255, 0.4);
	text-indent:-9999px;
	overflow:hidden;
	position:relative;
}
.play:after{
	position:absolute;
	top:35px;
	left:38px;
	content:"";
	background:url(../images/sprite.png) no-repeat -141px 0;
	height:32px;
	width:32px;
}
.present{
	margin:0 0 46px;
	padding:0 0 61px;
	background:url(../images/bg-present.jpg) no-repeat 50% 100%;
	text-align:center;
}
.sub-present{
	margin:0 0 30px;
	padding:0 0 85px;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 100%;
}
.catalog{
	padding:87px 0 0;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 30px;
}
.present:after{
	display:block;
	clear:both;
	content:"";
}
.present h1, 
.present h2{
	margin:0 0 22px;
	font-size:36px;
	line-height:38px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#111;
}
.present h1 span, 
.present h2 span{position:relative;}
.present h1 span:before, 
.present h2 span:before, 
.present h1 span:after, 
.present h2 span:after{
	position:absolute;
	top:18px;
	left:-11px;
	content:"";
	background:#111;
	border-radius:5px;
	height:5px;
	width:5px;
}
.present h1 span:after, 
.present h2 span:after{
	left:auto;
	right:-11px;
}
.present-nav{margin:0;}
.present-nav:after{
	display:block;
	clear:both;
	content:"";
}
.present-nav li{
	display:inline-block;
	vertical-align:top;
	margin:0 0 20px;
	height:490px;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#1f1b20;
	position:relative;
}
.present-nav li:hover{z-index:4;}
.present-box{
	position:relative;
	padding:30px 0;
	border:3px solid #fff;
	border-color:transparent;
	width:270px;
	overflow:hidden;
}
.present-image{
	margin:0 0 51px;
	display:table;
	height:300px;
	width:100%;
	overflow:hidden;
}
.present-image div{
	display:table-cell;
	margin:0;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.present-image img{
	display:block;
	margin:0 auto;
}
.present-box strong{
	display:block;
	margin:0 0 12px;
}
.present-box strong a{
	text-decoration:none;
	color:#1f1b20;
}
.present-box strong a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.present-box em{
	display:block;
	margin:0 0 4px;
	font-size:18px;
	line-height:20px;
	font-family: 'intro_regularregular';
	color:#1f1b20;
}
.present-box em.lt{text-decoration:line-through;}
.present-box em.color{color:#ef4a46;}
.btn-basket{display:none;}
.present-nav li:hover .present-box{
	border:3px solid #111;
	background:#fff;
}
.present-nav li:hover .btn-basket{
	display:inline-block;
	margin:12px 0 0;
	padding:0 22px;
	background:rgba(239, 74, 70, 1);
	font-size:14px;
	line-height:46px;
	height:44px;
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
}
.present-nav li:hover .btn-basket:hover{background:rgba(239, 74, 70, 0.8);}
.action-1, 
.action-2, 
.action-3{
	position:absolute;
	top:17px;
	left:0;
	z-index:4;
	padding:0 12px;
	background:#3daf2c;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	color:#fff;
}
.catalog .action-1, 
.catalog .action-2, 
.catalog .action-3{
	top:23px;
	left:15px;
}
.action-2{background:#ef4a46;}
.action-3{background:#248dc1;}
.action-1:after, 
.action-2:after, 
.action-3:after{
	position:absolute;
	top:0;
	right:-6px;
	content:"";
	background:url(../images/sprite.png) no-repeat -37px 0;
	height:24px;
	width:6px;
}
.action-2:after{background:url(../images/sprite.png) no-repeat -43px 0;}
.action-3:after{background:url(../images/sprite.png) no-repeat -49px 0;}
.action-4{
	position:absolute;
	top:10px;
	right:25px;
	z-index:9999;
	background:url(../images/sprite.png) no-repeat -97px 0;
	height:14px;
	width:16px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.action-4.add-active{background:url(../images/sprite.png) no-repeat -97px -14px;}

.btn-more{
	display:inline-block;
	padding:0 24px;
	border:2px solid #111;
	font-size:14px;
	line-height:42px;
	height:44px;
	font-family: 'intro_bookregular';
	text-decoration:none;
	text-transform:uppercase;
	color:#111;
}
.btn-more:hover{
	background:rgba(239, 74, 70, 1);
	color:#fff;
}
#content{
	margin:0 auto;
	padding:59px 0 0;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 0;
	max-width:1170px;
}
#content:after{
	display:block;
	clear:both;
	content:"";
}
.breadcrumbs{
	margin:0 0 20px;
	width:100%;
	overflow:hidden;
}
.breadcrumbs li{
	float:left;
	margin:0 13px 0 0;
	padding:0 0 0 20px;
	font-size:14px;
	line-height:16px;
	font-family: 'intro_bookregular';
	color:#555;
	position:relative;
}
.breadcrumbs li:first-child{padding:0;}
.breadcrumbs li:first-child:after{display:none;}
.breadcrumbs li:after{
	position:absolute;
	top:6px;
	left:0;
	content:"";
	background:url(../images/sprite.png) no-repeat 0 -24px;
	height:5px;
	width:4px;
}
.breadcrumbs a{
	text-decoration:none;
	color:#555;
}
.breadcrumbs a:hover{
	text-decoration:underline;
	color:#555;
}
.look-book{
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 100%;
	padding:66px 0 72px;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	color:#555;
	text-align:center;
}
.look-book:after{
	display:block;
	clear:both;
	content:"";
}
.look-book h1{
	margin:0 0 37px;
	font-size:36px;
	line-height:38px;
	text-transform:uppercase;
	color:#1f1b20;
}
.look-book h2{
	margin:0 0 14px;
	font-size:30px;
	line-height:32px;
	color:#111;
}
.look-book p{margin:0 0 22px;}
.images{
	margin:0 0 30px -30px;
	padding:0 0 40px;
	background:url(../images/bg-present.jpg) no-repeat 50% 100%;
	height:1%;
	overflow:hidden;
}
.images-last{
	margin:0 0 10px -30px;
	padding:0;
	background:none;
}
.images li{
	float:left;
	margin:0 0 20px 30px;
}
.images li img{display:block;}
.paging{
	margin:0 0 40px;
	padding:23px 0 0;
	border-top:1px solid #e9e9e9;
	text-align:left;
	overflow:hidden;
}
.paging li{
	float:left;
	margin:0 2px 0 0;
	font-size:14px;
	line-height:26px;
}
.paging li:last-child{margin:0 0 0 57px;}
.paging a{
	float:left;
	padding:0 4px;
	text-align:center;
	height:24px;
	min-width:24px;
	text-decoration:none;
	color:#1f1b20;
}
.paging li.active a, 
.paging a:hover{
	background:#ef4a46;
	color:#fff;
}
.sub-look-book{padding:11px 0 72px;}
.sub-look-book .images{
	margin:0 0 -6px -30px;
	padding:0;
	background:none;
}
.sub-look-book .images li{margin:0 0 30px 30px;}
.share-social{
	margin:0 0 31px;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.share-social strong{
	display:block;
	margin:0 0 2px;
}
.share-social ul li{
	display:inline-block;
	margin:0 -1px 0 0;
}
.share-social ul li img{display:block;}
.share-social ul li:hover img{opacity:0.8;}
.about{
	margin:0 -15px;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 100%;
	padding:1px 0 98px;
	overflow:hidden;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	color:#555;
}
.about:after{
	display:block;
	clear:both;
	content:"";
}
.about h1{
	margin:0 0 19px;
	font-size:36px;
	line-height:38px;
	color:#1f1b20;
	text-align:center;
}
.about h2{
	margin:0 0 18px;
	font-size:24px;
	line-height:26px;
	color:#1f1b20;
	text-align:center;
}
.about p{margin:0 0 12px;}
.about-holder{margin:0 0 30px;}
.about-holder2{margin:0;}
.about-nav{
	margin:0 0 21px -30px;
	padding:0 0 24px;
	position:relative;
}
.about-nav:before{
	position:absolute;
	bottom:0;
	left:30px;
	content:"";
	background:#ef4a46;
	height:2px;
	width:70px;
}
.about-nav:after{
	display:block;
	clear:both;
	content:"";
}
.about-nav li{
	float:left;
	margin:0 0 20px 30px;
}
.about-image img{
	display:block;
	margin:0 0 44px;
}
.nav-download{margin:36px 0 20px -30px;}
.nav-download:after{
	display:block;
	clear:both;
	content:"";
}
.nav-download li{
	float:left;
	margin:0 0 0 30px;
	padding:6px 0 0 43px;
	width:270px;
	position:relative;
}
.nav-download li:after{
	position:absolute;
	top:0;
	left:0;
	content:"";
	height:26px;
	width:24px;
	background:url(../images/sprite.png) no-repeat -73px 0;
}
.nav-download li strong{
	display:block;
	margin:0 0 4px;
	font-size:14px;
	line-height:16px;
	color:#1f1b20;
}
.nav-download li strong a{
	text-decoration:none;
	color:#1f1b20;
}
.nav-download li strong a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.nav-download li span{
	display:block;
	color:#555;
}
.contacts{
	margin:0 -15px;
	padding:37px 0 168px;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 100%;
}
.contacts:after{
	display:block;
	clear:both;
	content:"";
}
.contacts h1{
	margin:0 0 20px;
	font-size:36px;
	line-height:38px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	text-align:center;
	color:#1f1b20;
}
.contacts-holder{
	margin:0 0 59px;
	padding:0 0 53px;
	background:url(../images/bg-present.jpg) no-repeat 50% 100%;
}
.contacts-holder strong{
	display:block;
	margin:0 0 10px;
	font-size:14px;
	line-height:16px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#1f1b20;
}
.contacts-holder span, 
.contacts-holder address{
	display:block;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	color:#555;
}
.contacts-holder span a{
	color:#1f1b20;
	text-decoration:none;
}
.contacts-holder span a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.question{
	border:3px solid #111;
	margin:0 auto;
	padding:0 30px;
	width:836px;
}
.question:after{
	display:block;
	clear:both;
	content:"";
}
.question strong{
	display:block;
	margin:-17px 0 28px;
	font-size:30px;
	line-height:32px;
	font-family: 'intro_bookregular';
	color:#1f1b20;
	text-align:center;
	text-transform:uppercase;
}
.question strong span{
	padding:0 24px;
	background:#fff;
}
.question input{
	display:block;
	margin:0 0 20px;
	padding:10px 20px;
	border:1px solid #111;
	background:none;
	height:41px;
	width:770px;
	font:italic 12px/20px Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#555;
}
.question-row{margin:0 0 0 -30px;}
.question-row:after{
	display:block;
	clear:both;
	content:"";
}
.question input.wid-shot{
	display:inline;
	float:left;
	margin:0 0 20px 30px;
	width:370px;
}
.question textarea{
	display:block;
	margin:0 0 30px;
	padding:10px 20px;
	border:1px solid #111;
	background:none;
	height:101px;
	width:770px;
	font:italic 12px/20px Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#555;
	resize:none;
}
.question input.btn-question{
	margin:0 auto 30px;
	padding:0;
	background:rgba(239, 74, 70, 1);
	border:none;
	height:44px;
	width:240px;
	font-size:14px;
	font:14px/20px 'Conv_Intro-Book', Georgia, "Times New Roman", Times, serif;
	cursor:pointer;
	color:#fff;
	text-align:center;
}
.question input.btn-question:hover{background:rgba(239, 74, 70,0.8);}

/* product */

.product{
	margin:0 -15px;
	padding:12px 0 0;
}
.product:after{
	display:block;
	clear:both;
	content:"";
}
.product-box{
	margin:0 0 47px;
	padding:0 0 110px;
	background:url(../images/bg-present.jpg) no-repeat 50% 100%;
}
.slideshow-2{
	position: relative;
	height:684px;
	width:570px;
}
.slideshow-2 .slide {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height:584px;
	width:570px;
}
.slideshow-2 .slide.active {z-index: 2;}
.slideshow-2.not-enough-slides .btn-prev,
.slideshow-2.not-enough-slides .btn-next {visibility: hidden;}
.slide-block{
	display:table;
	height:584px;
	width:570px;
	overflow:hidden;
}
.slide-block div{
	display:table-cell;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.slide-block img{
	display:block;
	margin:0 auto;
}
.slideshow-2 .pagination{
	position:absolute;
	bottom:0;
	left:60px;
}
.slideshow-2 .pagination ul{margin:0 0 0 -16px;}
.slideshow-2 .pagination ul:after{
	display:block;
	clear:both;
	content:"";
}
.slideshow-2 .pagination ul li{
	float:left;
	margin:0 0 0 16px;
	width:100px;
}
.slideshow-2 .pagination ul a{display:block;}
.slideshow-2 .pagination ul li img{display:block;}
.slideshow-2 .pagination ul li.active{border:2px solid #ef4a46;}
.slideshow-2 .pagination ul li.active img{
	height:96px;
	width:96px;
}
.product-info:after{
	display:block;
	clear:both;
	content:"";
}
.product-info{
	padding:14px 0 0;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	color:#555;
}
.product-info h1{
	margin:0 0 11px;
	font-size:36px;
	line-height:48px;
	font-family: 'intro_bookregular';
	color:#1f1b20;
}
.product-info p{margin:0 0 12px;}
.product-info span{display:block;}
.product-info .price{
	display:block;
	margin:37px 0 22px;
	font-size:36px;
	line-height:38px;
	font-family: 'intro_regularregular';
	color:#1f1b20;
	width:100%;
	overflow:hidden;
}
.product-info .price .fa-rub{font-size:32px;}
.product-info .price em{
	float:left;
	margin:0 60px 0 0;
	text-decoration:line-through;
}
.product-info .price b{color:#ef4a46;}
.product-info-area{
	width:100%;
	overflow:hidden;
}
.btn-to-basket{
	float:left;
	margin:0 95px 0 0;
	padding:0 22px;
	background:rgba(239, 74, 70, 1);
	font-size:14px;
	line-height:46px;
	height:44px;
	font-family: 'intro_lightregular';
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.btn-to-basket:hover{
	background:rgba(239, 74, 70, 0.8);
	color:#fff;
}
.product-info-area .share-social {
	width:auto;
	text-align:left;
}
.product-info-area .share-social span{
	float:left;
	margin:0 20px 0 0;
	font-size:14px;
	line-height:46px;
	font-family: 'intro_bookregular';
	color:#555;
}
.product-info-area .share-social ul{
	float:left;
	margin:12px 0 0;
}

/* popup */

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.order{
	padding:50px 50px;
	background:#fff;
	width:570px;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	color:#555;
	text-align:center;
}
.order strong{
	display:block;
	margin:0 0 20px;
	font-size:36px;
	line-height:38px;
	text-transform:uppercase;
	color:#1f1b20;
}
.order p{margin:0 0 20px;}
.order input{
	display:block;
	margin:0 0 20px;
	padding:10px 20px;
	border:1px solid #191919;
	background:none;
	height:41px;
	width:470px;
	font:italic 12px/20px Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	text-align:left;
	color:#555;
}
.order div{margin:0 0 0 -30px;}
.order div:after{
	display:block;
	clear:both;
	content:"";
}
.order div input{
	display:inline;
	float:left;
	margin:0 0 20px 30px;
	width:220px;
}
.order input.btn-order{
	margin:0 auto;
	padding:0;
	border:none;
	background:rgba(239, 74, 70, 1);
	height:44px;
	width:210px;
	font-size:14px;
	font:14px/40px 'Conv_Intro-Book', Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	cursor:pointer;
}
.order input.btn-order:hover{background:rgba(239, 74, 70, 0.8);}

/* catalog */

.catalog{
	padding:87px 0 0;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 30px;
	text-align:center;
}
.sub-catalog{
	padding:57px 0 0;
	background:url(../images/bg-present.jpg) no-repeat 50% 0;
}
.catalog:after{
	display:block;
	clear:both;
	content:"";
}
.catalog h1, 
.catalog h2{
	margin:0 0 22px;
	font-size:36px;
	line-height:38px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#111;
}
.catalog h1 span, 
.catalog h2 span{position:relative;}
.catalog h1 span:before, 
.catalog h2 span:before, 
.catalog h1 span:after, 
.catalog h2 span:after{
	position:absolute;
	top:18px;
	left:-11px;
	content:"";
	background:#111;
	height:5px;
	width:5px;
	border-radius:5px;
}
.catalog h1 span:after, 
.catalog h2 span:after{
	left:auto;
	right:-11px;
}
.catalog-nav{margin:0;}
.catalog-nav:after{
	display:block;
	clear:both;
	content:"";
}
.catalog-nav li{
	display:inline-block;
	vertical-align:top;
	margin:0 0 40px;
	padding:33px 10px 10px;
	font-size:12px;
	line-height:14px;
	font-family: 'intro_regularregular';
	color:#555;
	position:relative;
}
.catalog-box{
	position:relative;
	padding:30px 0;
	border:3px solid #fff;
	border-color:transparent;
	width:270px;
	overflow:hidden;
}
.catalog-image{
	margin:0 0 21px;
	display:table;
	height:330px;
	width:100%;
	overflow:hidden;
}
.catalog-image div{
	display:table-cell;
	margin:0;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.present-image img{
	display:block;
	margin:0 auto;
}
.catalog-nav strong{
	display:block;
	margin:0 0 11px;
	font-size:14px;
	line-height:24px;
	text-transform:uppercase;
	font-family: 'intro_bookregular';
	color:#1f1b20;
}
.catalog-nav strong a{
	text-decoration:none;
	color:#1f1b20;
}
.catalog-nav strong a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.catalog-nav em{
	display:block;
	margin:0 0 9px;
	font-size:18px;
	line-height:20px;
	color:#1f1b20;
}
.catalog-nav em.lt{
	margin:0 0 4px;
	text-decoration:line-through;
}
.catalog-nav em.color{color:#ef4a46;}
.catalog-nav p{margin:0 0 17px;}
.catalog-nav .fa-rub{font-size:16px;}
.more{
	display:inline-block;
	border:2px solid #ef4a46;
	padding:0 27px;
	font-size:12px;
	line-height:34px;
	height:36px;
	text-transform:uppercase;
	text-decoration:none;
	color:#ef4a46;
}
.more:hover{
	background:#ef4a46;
	color:#fff;
}
.catalog-holder{
	padding:0 0 61px;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 100%;
}
.partners{
	margin:-3px 0 40px;
	padding:0 0 97px;
	background:url(../images/bg-sub-present.jpg) no-repeat 50% 100%;
	width:100%;
	overflow:hidden;
}
.partners h1{
	margin:0 0 19px;
	font-size:36px;
	line-height:38px;
	text-transform:uppercase;
	font-family: 'intro_bookregular';
	color:#1f1b20;
	text-align:center;
}
.tabset{
	margin:0 0 19px;
	text-align:center;
	width:100%;
	overflow:hidden;
}
.tabset li{
	display:inline-block;
	vertical-align:top;
	margin:0 12px 0 13px;
	font-size:14px;
	line-height:18px;
	font-family: 'intro_bookregular';
}
.tabset a{
	display:block;
	padding:0 0 5px;
	text-decoration:none;
	color:#191919;
}
.tabset a:hover{color:#ef4a46;}
.tabset a.active{
	border-bottom:2px solid #ef4a46;
	color:#ef4a46;
}
.tab-content{
	height:1%;
	overflow:hidden;
}
.map{margin:0 0 44px;}
.map img{display:block;}
.columns{
	width:100%;
	overflow:hidden;
}
.column{
	float:left;
	padding:0 2.5%;
	width:25%;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	text-align:center;
	color:#555;
}
.column strong{
	display:block;
	margin:0 0 6px;
	text-transform:uppercase;
	color:#1f1b20;
}
.column address, 
.column span{display:block;}
.column span{margin:0 0 6px;}

/* basket */

.form-basket{
	margin:0 0 -87px;
	padding:10px 0 0;
	width:100%;
	overflow:hidden;
}
.form-basket h1{margin:0 0 51px;}
.basket-box{
	margin:0 auto 59px;
	padding:0 30px 20px;
	border:3px solid #111;
	width:836px;
}
.basket-box:after{
	display:block;
	clear:both;
	content:"";
}
.basket-box h2{
	margin:-17px 0 24px;
	font-size:30px;
	line-height:32px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	text-align:center;
	color:#1f1b20;
}
.basket-box h2 span{
	background:#fff;
	padding:0 22px;
}
.basket-nav{
	margin:0 0 -2px;
	width:100%;
	overflow:hidden;
}
.basket-nav li{
	margin:0 0 30px;
	padding:18px 0 52px;
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #e9e9e9;
}
.basket-nav-box{
	float:left;
	display:table;
	margin:0 66px 0 0;
	height:145px;
	width:134px;
	overflow:hidden;
}
.basket-nav-box div{
	display:table-cell;
	margin:0;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.basket-nav-box img{
	display:block;
	margin:0 auto;
}
.basket-nav-block{
	float:left;
	margin:0 20px 0 0;
	padding:52px 0 0;
	width:280px;
}
.basket-nav-block strong{
	display:block;
	margin:0 0 4px;
	font-size:14px;
	line-height:24px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#1f1b20;
}
.basket-nav-block strong a{
	text-decoration:none;
	color:#1f1b20;
}
.basket-nav-block strong a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.basket-nav-number{
	float:left;
	margin:59px 10px 0 0;
	width:130px;
}
.basket-nav li em{
	float:left;
	margin:68px 33px 0 0;
	width:81px;
	text-align:right;
	font-size:14px;
	line-height:16px;
	color:#1f1b20;
}
.basket-nav li em .fa-rub{font-size:13px;}
.basket-nav-del{
	float:left;
	margin:67px 0 0;
	background:url(../images/sprite.png) no-repeat -113px 0;
	height:16px;
	width:16px;
	text-indent:-9999px;
	overflow:hidden;
}
.basket-nav-number b{
	display:block;
	margin:-4px 0 0;
	font-size:14px;
	line-height:16px;
	color:#1f1b20;
}
.basket-nav-number b span{
	font-size:12px;
	font-family: 'intro_bookregular';
	color:#555;
}
.basket-nav-number b .fa-rub{font-size:13px;}
.basket-box-sum{
	margin:0 0 6px;
	padding:0 48px 0 0;
	height:1%;
	overflow:hidden;
	text-align:right;
}
.basket-box-sum strong{
	display:block;
	font-size:14px;
	line-height:16px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#1f1b20;
	overflow:hidden;
	width:100%;
}
.basket-box-sum strong span{
	float:right;
	margin:0 0 0 40px;
	font-family: 'intro_regularregular';
}
.basket-box-sum strong span .fa-rub{font-size:13px;}
.basket-box input{
	display:block;
	margin:0 0 20px;
	padding:10px 20px;
	border:1px solid #111;
	background:none;
	height:41px;
	width:770px;
	font:italic 12px/20px Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#555;
}
.basket-box-row{margin:0 0 0 -30px;}
.basket-box-row:after{
	display:block;
	clear:both;
	content:"";
}
.basket-box-row input.wid-shot{
	display:inline;
	float:left;
	margin:0 0 20px 30px;
	width:370px;
}
.basket-box textarea{
	display:block;
	margin:0 0 10px;
	padding:10px 20px;
	border:1px solid #111;
	background:none;
	height:101px;
	width:770px;
	font:italic 12px/20px Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#555;
	resize:none;
}
.select-radio{
	width:100%;
	overflow:hidden;
}
.select-radio li{
	margin:0 0 18px;
	width:100%;
	overflow:hidden;
}
.select-radio li label{
	padding:6px 0 0;
	height:1%;
	overflow:hidden;
	cursor:pointer;
	font-size:14px;
	line-height:16px;
	font-family: 'intro_bookregular';
	text-transform:uppercase;
	color:#1f1b20;
}
.select-radio li label em{
	display:block;
	margin:14px 0 0;
	text-transform:none;
	color:#555;
}
.basket-box input.btn-form-basket{
	display:block;
	margin:0 auto 10px;
	padding:0;
	background:rgba(239, 74, 70, 1);
	border:none;
	height:44px;
	width:240px;
	cursor:pointer;
	font:14px/44px 'Conv_Intro-Book', Georgia, "Times New Roman", Times, serif;
	text-align:center;
	text-transform:uppercase !important;
	vertical-align:middle;
	color:#fff;
}
.basket-box input.btn-form-basket:hover{background:rgba(239, 74, 70, 0.8);}
.basket-section{
	margin:-29px auto 30px;
	width:830px;
}
.basket-section:after{
	display:block;
	clear:both;
	content:"";
}
.present .fa-rub{font-size:16px !important;}

#footer:after{
	display:block;
	clear:both;
	content:"";
}
.navigation{
	margin:0 0 15px;
	text-align:center;
}
.navigation li{
	display:inline-block;
	margin:0 40px 0 0;
	padding:0 0 0 41px;
	font-size:14px;
	line-height:16px;
	text-transform:uppercase;
	position:relative;
}
.navigation li:after{
	position:absolute;
	top:3px;
	left:-5px;
	content:"";
	background:url(../images/sprite.png) no-repeat 0 -16px;
	height:6px;
	width:6px;
}
.navigation li:first-child:after{display:none;}
.navigation a{
	text-decoration:none;
	color:#1f1b20;
}
.navigation a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.footer-nav{
	margin:0 0 39px;
	text-align:center;
}
.footer-nav:after{
	display:block;
	clear:both;
	content:"";
}
.footer-nav li{
	display:inline-block;
	margin:0 18px 0 17px;
	font-size:12px;
	line-height:14px;
	text-transform:uppercase;
}
.footer-nav a{
	text-decoration:none;
	color:#1f1b20;
}
.footer-nav a:hover{
	text-decoration:underline;
	color:#1f1b20;
}
.footer-area{margin:0 0 5px;}
.footer-area:after{
	display:block;
	clear:both;
	content:"";
}
.footer-area strong{
	display:block;
	margin:0 0 6px;
	font-size:12px;
	line-height:14px;
	font-family: 'intro_bookregular';
	text-align:center;
	text-transform:uppercase;
	color:#1f1b20;
}
.footer-area ul{text-align:center;}
.footer-area:after{
	display:block;
	clear:both;
	content:"";
}
.footer-area li{
	display:inline-block;
	margin:0 8px;
}
.footer-area li div{
	display:table;
	height:26px;
	width:45px;
	overflow:hidden;
}
.footer-area li div div{
	display:table-cell;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.footer-area li img{
	display:block;
	margin:0 auto;
	opacity:0.15;
}
.footer-area li:hover img{opacity:1;}
.holder{margin:0 0 11px;}
.copy{
	display:block;
	font-size:12px;
	line-height:48px;
	text-transform:uppercase;
	font-family: 'intro_bookregular';
	color:#1f1b20;
}
#footer .social{
	float:left;
	margin:0 0 0 9px;
}
#footer .social li img{opacity:0.15;}
#footer .social li:hover img{opacity:1;}
.by{
	display:block;
	font-size:12px;
	line-height:48px;
	text-transform:uppercase;
	font-family: 'intro_bookregular';
	color:#1f1b20;
	text-align:right;
}
.by a{
	float:right;
	margin:7px 0 0 5px;
	background:url(../images/bg-by-a.png) no-repeat;
	height:30px;
	width:120px;
	text-indent:-9999px;
	overflow:hidden;
	text-align:left;
}

/* tabset required styles for hidden tabs */
.js-tab-hidden {
	display:block !important;
	left:-9999px !important;
	position: absolute !important;
	top:-9999px !important;
}

/* panel */

#header.fixed-position{
	position:fixed;
	padding:0 0 10px;
	top:0;
	left:0;
	width:100%;
	z-index: 99999;
	border-bottom: 1px solid #ccc;
	background:#fff;
	height:150px;
}
#header.fixed-position .logo img{
	margin:0 auto;
	transform:scale(0.915, 0.915);
	height:70px;

}
#header.fixed-position .panel{margin:0 0 19px;}
#header.fixed-position .nav-list {margin: 27px 0 0;}
.item-1{
	background:url(../images/sprite.png) no-repeat -173px 0;
	height:16px;
	width:45px;
}
.item-2{
	background:url(../images/sprite.png) no-repeat -218px 0;
	height:19px;
	width:31px;
}
.item-3{
	background:url(../images/sprite.png) no-repeat -249px 0;
	height:22px;
	width:20px;
}
.item-4{
	background:url(../images/sprite.png) no-repeat -269px 0;
	height:22px;
	width:22px;
}
.item-5{
	background:url(../images/sprite.png) no-repeat -291px 0;
	height:25px;
	width:17px;
}
.item-6{
	background:url(../images/sprite.png) no-repeat -308px 0;
	height:26px;
	width:24px;
}
.item-7{
	background:url(../images/sprite.png) no-repeat -332px 0;
	height:15px;
	width:12px;
}
.item-8{
	background:url(../images/sprite.png) no-repeat -344px 0;
	height:19px;
	width:10px;
}
.item-9{
	background:url(../images/sprite.png) no-repeat -354px 0;
	height:15px;
	width:15px;
}
.item-10{
	background:url(../images/sprite.png) no-repeat -369px 0;
	height:19px;
	width:19px;
}
.item-11{
	background:url(../images/sprite.png) no-repeat -388px 0;
	height:16px;
	width:16px;
}
.item-1, 
.item-2, 
.item-3, 
.item-4, 
.item-5, 
.item-6, 
.item-7, 
.item-8, 
.item-9, 
.item-10, 
.item-11{
	display:block;
	margin:0 auto;
	opacity:0.15;
	text-indent:-9999px;
	overflow:hidden;
}
.item-1:hover, 
.item-2:hover, 
.item-3:hover, 
.item-4:hover, 
.item-5:hover, 
.item-6:hover, 
.item-7:hover, 
.item-8:hover, 
.item-9:hover, 
.item-10:hover, 
.item-11:hover{opacity:1;}
.item-12, 
.item-13, 
.item-14, 
.item-15, 
.item-16{
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	overflow:hidden;
}
.item-12{
	background:url(../images/sprite.png) no-repeat -404px 0;
	height:15px;
	width:12px;
}
.item-13{
	background:url(../images/sprite.png) no-repeat -416px 0;
	height:19px;
	width:10px;
}
.item-14{
	background:url(../images/sprite.png) no-repeat -426px 0;
	height:15px;
	width:15px;
}
.item-15{
	background:url(../images/sprite.png) no-repeat -441px 0;
	height:19px;
	width:19px;
}
.item-16{
	background:url(../images/sprite.png) no-repeat -460px 0;
	height:16px;
	width:16px;
}







/* custom select styles */
.jcf-select {
	display:inline-block;
	vertical-align: top;
	position: relative;
	border:none;
	background:none;
	margin:0;
	min-width:29px;
	height:11px;
	cursor:pointer;
}
.basket-box .jcf-select{
	display:inline;
	float:left;
	margin:0 0 20px 30px;
	border:1px solid #111;
	height:41px;
	min-width:370px;
}
.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	display: block;
	margin: 0 15px 0 0;
	cursor:pointer;
}
.basket-box .jcf-select .jcf-select-text{
	margin: 0 30px 0 20px;
	font:italic 12px/40px Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#555;
}
.jcf-select .jcf-select-text img{display:block;}
.jcf-select .jcf-select-opener {
	position: absolute;
	background:url(../images/button.png) no-repeat 10px 4px;
	width:15px;
	bottom: 0;
	right: 0;
	top: 0;
	cursor:pointer;
}
.basket-box .jcf-select .jcf-select-opener{
	background:url(../images/button.jpg) no-repeat 9px 18px;
	width:30px;
}
body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}
.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}
.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #f00;
}
/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	display: block;
	padding: 3px 2px;
	color: #555;
	height: 1%;
	cursor:pointer;
}
.basket-box .jcf-list .jcf-option{padding:10px 20px;}
.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}
/* custom radio styles */
.jcf-radio {
	float:left;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #262626;
	border-radius: 18px;
	margin: 0 20px 0 0;
	height: 28px;
	width: 28px;
}
.jcf-radio span{
	display:none;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#ef4a46;
	border-radius:100%;
}
.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-checked span {display:block;}

/* custom number input styles */
.jcf-number {
	display: inline-block;
	margin:0 0 10px;
	position: relative;
	height: 32px;
}
.jcf-number input {-moz-appearance: textfield;}
.jcf-number input::-webkit-inner-spin-button,
.jcf-number input::-webkit-outer-spin-button {-webkit-appearance: none;}
.basket-box .jcf-number input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
	background:url(../images/bg-number.jpg) no-repeat;
	padding:0 35px 0 10px;
	margin: 0;
	height: 100%;
	float:left;
	width:94px;
	font:14px/32px 'intro_bookregular', Georgia,"Times New Roman",Times,serif;
	color:#111;
}
.jcf-number .jcf-btn-dec,
.jcf-number .jcf-btn-inc {
	position: absolute;
	background:url(../images/sprite.png) no-repeat -129px 0;
	width:12px;
	height:7px;
	right: 0px;
	top: 2px;
	cursor:pointer;
}
.jcf-number .jcf-btn-dec {
	background:url(../images/sprite.png) no-repeat -129px -7px;
	top: auto;
	bottom: 2px;
}
.jcf-number.jcf-disabled input {
	background: #ddd;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	margin: 0;
	padding:0;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 22px;
	height: 22px;
	background:url(../images/bg-close.png) no-repeat !important;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../images/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../images/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

